.page{
    background: #333;
    height: 100vh;
  }

.divider{
  margin: 0;
  left: 0;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 50px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: small;
}

.whtdivider{
  margin: 0;
  left: 0;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 200px;
  background: #fff;
  color: #fff;
  text-align: center;
  font-size: small;
}


.aboutPage{
  background: #fff;
  color: #333;
  text-align: center;
}

.site-footer{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #fff;
  }